@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply w-full overflow-x-hidden bg-white text-neuter-500 scroll-smooth;
    }

    label {
        @apply font-title text-lg text-primary-700 font-semibold;
    }
    
    [type='text'], [type='email'], [type='url'], [type='password'], [type='number'],
    [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'],
    [type='time'], [type='week'], [multiple], textarea, select { 
        @apply w-full border-primary-400 rounded text-neuter-700 caret-primary-600 py-3
        focus:border-primary-500 focus:ring-4 focus:ring-primary-300/50;
    }

    [type='checkbox'], [type='radio'] {
        @apply border-neuter-200 rounded
        focus:border-primary-500 focus:ring-4 focus:ring-primary-300/50;
    }    
}

@layer components {
    /*  TEXT  */
    .text-logo {
        @apply font-title font-medium text-2xl;
    }

    .text-link-navbar {
        @apply font-title font-medium text-lg;
    }

    .text-link {
        @apply font-title font-normal text-base;
    }

    .text-principal {
        @apply font-title font-semibold text-5xl text-primary-500 text-center mt-14
        lg:text-6xl lg:mt-16
        xl:text-7xl;
    }

    .text-header {
        @apply font-title font-semibold text-3xl text-primary-500
        lg:text-4xl
        xl:text-6xl;
    }

    .text-content {
        @apply font-normal text-base leading-8
        lg:text-lg lg:leading-9;
    }

    .text-title {
        @apply font-title font-medium text-lg text-neuter-600
        lg:text-xl;
    }

    .text-subtitle {
        @apply font-title font-medium text-base;
    }

    .text-detail {
        @apply font-light text-base leading-6
        lg:leading-7;
    }

    .text-date {
        @apply font-light text-sm;
    }

    .text-tab {
        @apply font-title font-medium text-lg 
        lg:text-xl;
    }

    .text-button {
        @apply font-title font-semibold text-lg
        lg:text-base;
    }

    .text-icon {
        @apply w-5 h-5 fill-transparent stroke-2 stroke-current;
    }

    /*  SECTION  */
    .gap-spacing {
        @apply gap-9;
    }

    .section-fluid {
        @apply py-14 bg-neuter-100/50
        lg:py-28;
    }

    .section-container {
        @apply container flex flex-col gap-spacing mx-auto;
    }

    .section-snap {
        @apply relative w-full flex flex-row gap-spacing justify-between snap-x overflow-x-auto overflow-y-hidden pb-4;
    }

    .section-spacing {
        @apply flex flex-col gap-14 my-14
        lg:gap-28 lg:mt-16 lg:mb-28;
    }

    /*  EFFECT */
    .effect {
        @apply transition ease-in-out duration-500;
    }

    .effect-zoom {
        @apply lg:hover:-translate-y-1 lg:hover:scale-105;
    }

    .effect-shadow {
        @apply lg:hover:shadow-lg lg:hover:shadow-accent-200/40;
    }

    .effect-border {
        @apply lg:hover:border lg:hover:border-accent-300;
    }

    .effect-drop-shadow {
        @apply lg:hover:drop-shadow-lg;
    }

    /*  TAB  */ 
    .tab-content {
        @apply w-full flex flex-row gap-6;
    }

    .tab {
        @apply text-tab list-none effect;
    }

    .tab-primary {
        @apply text-neuter-500 
        hover:text-accent-500;
    }

    .tab-primary-active {
        @apply text-primary-500 underline decoration-2 underline-offset-2
        hover:text-primary-500;
    }

    /*  LINK  */
    .link-icon {
        @apply flex flex-row gap-2 items-center;
    }

    .link {
        @apply text-link text-primary-500 effect
        hover:text-accent-500
        hover:underline hover:underline-offset-2;
    }

    /*  LINK BUTTON  */
    .link-button {
        @apply bg-primary-500 rounded text-button text-white px-3 py-2
        select-none effect
        hover:bg-primary-600
        active:bg-primary-700
        focus:outline-none focus:ring-4 focus:ring-primary-300/50;
    }   
    
    .link-button-lg {
        @apply text-xl px-6 py-4;
    }

    /*  NAVBAR  */
    .navbar {
        @apply bg-primary-700 shadow effect;
    }
        
    .navbar-container {
        @apply container flex flex-col gap-spacing justify-between py-6 mx-auto
        xl:flex-row;
    }

    .navbar-content-logo {
        @apply flex flex-row justify-between;
    }

    .navbar-logo {
        @apply flex flex-row gap-4 items-center;
    }

    .navbar-logo-name { 
        @apply text-white text-logo tracking-wide truncate py-2;
    }

    .navbar-nav {
        @apply hidden my-auto
        xl:block;
    }

    .navbar-nav-content {
        @apply flex flex-col gap-6 pb-6
        xl:flex-row xl:justify-between xl:py-2 xl:pb-0;
    }

    .navbar-link {
        @apply text-link-navbar text-white/60 pb-1 effect
        hover:text-accent-400;
    }

    .navbar-link-active {
        @apply text-accent-400 border-b-2 border-accent-400;
    }

    .navbar-menu {
        @apply my-auto after:content-menu after:navbar-menu-icon;
    }

    .navbar-menu-close {
        @apply after:content-close after:navbar-menu-icon;
    }

    .navbar-menu-icon {
        @apply w-10 h-10 bg-inherit rounded-full fill-transparent stroke-2 stroke-white p-1 block 
        xl:hidden
        focus:bg-primary-800
        active:bg-primary-800;
    }

    /*  BRAND */
    .brand {
        @apply bg-white hidden py-6  
        xl:block xl:py-0;
    }

    .brand-nav {
        @apply container py-2 mx-auto;
    }

    .brand-nav-ul {
        @apply flex flex-col gap-6 justify-between
        xl:flex-row; 
    }

    /*  FOOTER  */ 
    .footer {
        @apply bg-primary-800 text-white py-16;
    }

    .footer-content {
        @apply container mx-auto grid gap-16 justify-center
        md:grid-cols-3; 
    }

    .footer-content-logo {
        @apply flex flex-col gap-spacing justify-center items-center;
    }

    .footer-content-link {
        @apply flex flex-col gap-8;
    } 

    .footer-content-social-icon {
        @apply grid grid-cols-3 gap-8 justify-center items-center;
    }

    .footer-title {
        @apply text-logo;
    }

    .footer_line {
        @apply border border-neuter-300 rounded;
    }

    .footer-link {
        @apply w-fit flex flex-row items-center gap-3 text-detail effect
        hover:text-accent-400;
    }

    .footer-link-icon {
        @apply w-9 h-9 fill-current;
    }

    .footer-social_icon {
        @apply w-fit mx-auto effect
        hover:text-accent-400;
    }

    /* Contenido e Imagen */
    .info_item {
        @apply w-full h-full flex flex-col gap-spacing justify-between
        lg:flex-row;
    }
    
    .info_item-content-text {
        @apply w-full flex flex-col gap-spacing justify-center
        lg:w-5/12;
    }

    .info_item-content-image {
        @apply w-full h-96 rounded hidden
        lg:block lg:w-6/12 lg:h-[40rem];
    }

    .info-item-cover {
        @apply bg-neuter-100 w-full h-full rounded;
    }

    .info_item-image {
        @apply w-full h-full object-cover object-center rounded;
    }

    /* Feature */
    .feature-grid {
        @apply grid grid-cols-none gap-spacing
        md:grid-cols-2
        xl:grid-cols-3;
    }

    .feature_item {
        @apply w-full flex flex-col gap-4 justify-start bg-white rounded border-b-2 border-b-accent-400 border border-neuter-100 p-6
        effect effect-zoom effect-shadow;
    }

    .feature_item-header {
        @apply flex flex-row gap-4 items-center text-title;
    }

    .feature_item-icon {
        @apply w-fit h-fit bg-accent-100 rounded-full m-auto;
    }

    .feature_item-icon-svg {
        @apply w-8 h-8 fill-transparent stroke-2 stroke-primary-500 m-3;
    }

    .feature_item-content {
        @apply text-detail;
    }

    .feature_item-content-list {
        @apply flex flex-col gap-4 list-disc list-outside pl-4;
    }

    /* Acoordion */
    .accordion_item-tilte {
        @apply w-full flex flex-row justify-between bg-neuter-200/40 border-l-2 border-l-accent-400 rounded-t text-title text-left p-4 effect
        hover:lg:bg-neuter-200/90
        after:content-['\002B'] after:float-right after:text-primary-700 after:px-2;
    }

    .accordion_item-tilte-active {
        @apply border-l-2 border-l-neuter-200/50 rounded-b-none 
        after:content-['\2212'];
    }    

    .accordion_item-content {
        @apply max-h-0 bg-white border border-l-2 border-l-accent-400 border-t-0 rounded-b text-detail py-0 effect transition-max-height overflow-hidden;
    }

    .accordion_item-body {
        @apply p-4;
    }

    .accordion_item-list {
        @apply flex flex-col gap-2 list-disc list-outside pl-4;
    }





    /*  INICIO  */  
    /*  Hero */
    .hero-hight {
        @apply h-[30rem] max-h-[50rem] min-h-[30rem]
        xl:h-[40rem]
        2xl:h-[50rem];
    }

    .hero {
        @apply bg-neuter-100/50;
        /* sm:bg-red-500 md:bg-green-500 lg:bg-orange-500 xl:bg-blue-500 2xl:bg-yellow-500 */
    }

    .hero-container {
        @apply container mx-auto h-full flex flex-col justify-center items-center gap-8
        lg:flex-row lg:justify-start;
    }

    .hero-content-text {
        @apply w-full h-fit flex flex-col gap-spacing 
        xl:w-5/12;
    }

    .hero-text-principal {
        @apply font-title font-semibold text-5xl text-center        
        lg:text-6xl
        xl:text-7xl xl:text-primary-600;
    }

    .hero-content-image {
        @apply container bg-no-repeat hidden
        xl:block xl:absolute xl:right-0 xl:w-1/2 xl:hero-hight xl:py-10;
    }

    .hero-image {
        @apply w-fit h-[42rem] rounded shadow object-cover m-auto hidden 
        lg:block
        lg:h-[33rem] 
        xl:h-full;
    }

    /* Últimas Novedades */
    .show_item {
        @apply w-80 flex flex-col gap-4 justify-between bg-white rounded shadow-md border-t border-r border-neuter-100 border-l-2 border-l-accent-400 p-4 
        snap-center shrink-0 effect effect-shadow
        lg:w-96;
    }

    .show_item-header {
        @apply text-title;
    }

    .show_item-detail {
        @apply flex flex-row gap-2 items-center text-detail;
    }

    .show_item-footer {
        @apply flex flex-row justify-end;
    }

    /* Enlaces de Interés */
    .target_item-content {
        @apply grid grid-cols-none gap-spacing
        md:grid-cols-2 
        lg:grid-cols-4;
    }

    .target_item-link {
        @apply flex flex-row gap-2 justify-center bg-white rounded border border-primary-200 p-6 text-title effect
        hover:bg-primary-100 effect
        hover:underline hover:decoration-2 hover:underline-offset-8;
    }

    .target_item-link-icon {
        @apply w-6 h-6 fill-transparent stroke-2 stroke-accent-500;
    }

    /*  Vida Universitaria  */
    .section-video {
        @apply flex flex-col gap-spacing justify-between rounded
        xl:flex-row;
    }

    .section-content-text {
        @apply w-full flex flex-col justify-center gap-spacing
        xl:w-5/12 xl:rounded xl:border xl:border-accent-300 xl:px-10;
    }

    .video-frame {
        @apply w-full h-96 rounded aspect-auto 
        lg:h-[30rem];
    }

    /* Opiniones */
    .opinion_item {
        @apply w-80 flex flex-col gap-4 justify-center bg-white rounded border-l-2 border-l-accent-400 border border-neuter-100 p-4
        snap-center shrink-0
        lg:w-96;
    }

    .opinion_item-body {
        @apply flex flex-row justify-start gap-4;
    }

    .opinion_item-quote {
        @apply w-8 h-8 fill-primary-500;
    }

    .opinion_item-text {
        @apply text-detail break-words;
    }

    .opinion_item-footer {
        @apply flex flex-row gap-4 items-center ml-auto;
    }

    .opinion_item-name {
        @apply text-title;
    }

    .opinion_item-content-profile {
        @apply w-16 h-16 bg-accent-200 rounded-full mx-auto;
    }

    .opinion_item-profile {
        @apply w-full h-full rounded-full object-cover;
    }

    /* Fechas */
    .date_section-container-date {
        @apply relative w-full grid grid-cols-none gap-spacing lg:ml-8
        md:grid-cols-2
        lg:flex lg:flex-col lg:border-l-2 lg:border-neuter-200;
    }

    .date_item {
        @apply w-full flex flex-row gap-2 bg-white rounded border border-primary-300 p-4 lg:-ml-[2.1rem];
    }

    .date_item-number {
        @apply w-8 h-8 flex flex-col justify-center items-center bg-accent-500 rounded-full text-title;
    }    

    /* Contacto y Ubicación */
    .contact_location-section {
        @apply flex flex-col gap-14 justify-between
        lg:flex-row lg:gap-spacing;
    }

    .contact_location-content {
        @apply w-full flex flex-col gap-6 justify-between;
    }

    .contact_location-header {
        @apply flex flex-col gap-4;
    }
    
    .contact_form-content {
        @apply w-full flex flex-col gap-6 mx-auto
        sm:w-10/12
        md:w-8/12
        lg:w-full;
    }

    .contact_form-group {
        @apply flex flex-col gap-1;
    }

    .location_frame {
        @apply w-full min-h-[30rem] rounded border border-primary-100;
    }





    /* ACERCA DE */
    /* List */
    .content-list {
        @apply grid grid-cols-none gap-4
        lg:grid-cols-2;
    }
    
    .content-list-text {
        @apply flex flex-col gap-4 text-content list-disc list-outside px-5
        lg:px-10;
    }





    /* NUESTROS PROFESORES */
    /* Profesores */
    .teacher-section {
        @apply grid grid-cols-none gap-spacing
        lg:grid-cols-2;
    }

    .teacher_item {
        @apply flex flex-col gap-6 justify-between bg-white rounded border border-primary-100 shadow p-6
        effect effect-border effect-shadow
        md:flex-row;
    }

    .teacher_item-content-image {
        @apply flex flex-col justify-center mx-auto
        md:mx-0;
    }

    .teacher_item-bg-image {
        @apply w-44 h-44 flex flex-row justify-center rounded-full border-accent-100 bg-accent-100
        lg:group-hover:border-4 lg:group-hover:border-accent-100;
    }

    .teacher_item-image {
        @apply w-40 h-40 rounded-full object-cover m-auto
        effect lg:group-hover:scale-105;
    }

    .teacher_item-content-text {
        @apply w-full flex flex-col gap-6 justify-between;
    }

    .teacher_item-title {
        @apply text-title text-center
        md:text-left;
    }

    .teacher_item-info {
        @apply flex flex-row items-center gap-2 text-detail;
    }

    .teacher_item-info-email {
        @apply text-detail text-left break-all
        xl:cursor-pointer;
    }

    .teacher_item-bullet {
        @apply w-fit flex flex-row gap-1 items-center bg-accent-100 rounded border border-accent-500
        text-title text-accent-600 px-4 py-3 top-40 right-10 z-10 effect
        lg:right-24;
    }   
}